
  <div class="row mb-4">
    <div class="col mx-auto text-center">
        <% all_tags.each do |tag| %>
          <%= link_to "#{tag.name}(#{tag.taggings_count})", comics_path(tag: tag.name), class:"btn btn-outline-secondary m-1 shadow" %>
        <% end %>
    </div>
  </div>

  <div class="row">
    <% comics.each do |comic| %>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 my-3">

        <% if comic.complete == true %>
          <div class="card border-secondary shadow">
            <div class="card-header text-secondary">
              <% if comic.user == current_user %>
                <%= link_to "" ,edit_comic_path(comic.id),class:"text-decoration-none text-dark fas fa-pen-nib fa-lg left" %>
              <% else %>
              <!--読みたいボタン  -->
                <div id="keep_<%= comic.id %>">
                  <%= render 'keeps/keep_btn' , comic: comic %>
                </div>
              <!--/読みたいボタン  -->
              <% end %>
                <div class="right">完結済み</div>
            </div>
            <div class="card-body text-dark">
              <h5 class="card-title">『<%= comic.title %>』</h5>
              <p class="card-text"><%= safe_join(comic.memo.split("\n"), tag(:br)) %></p>
            </div>

            <ul class="list-group list-group-flush">
              <!--評価機能表示-->
              <li class="list-group-item">
                <span id="star-<%= comic.id %>"></span>
              </li>
                <script>
                $('#star-<%= comic.id %>').raty({
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: 'comic[evaluation]',
                  half: true,
                  readOnly: true,
                  score: <%= comic.evaluation %>,
                });
                </script>
              <!--/評価機能表示-->

              <!--タグ機能表示-->
              <li class="list-group-item">
               <% comic.tags.each do |tag| %>
                <%= link_to "#{tag.name}", comics_path(tag: tag.name), class:"btn btn-secondary btn-sm mb-1" %>
               <% end %>
              </li>
              <!--/タグ機能表示-->
            </ul>

            <div class="card-footer border-secondary">
              <div class="left"><%= comic.created_at.strftime('%Y/%m/%d') %></div>
              <% if comic.user == current_user %>
                <div class="right"><%= comic.user.name %></div>
              <% else %>
                <%= link_to user_path(comic.user_id) do %>
                  <div class="text-right">
                    <button type="button" class="btn btn-outline-secondary"><%= comic.user.name %></button>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

        <% elsif comic.complete == false %>
          <div class="card border-primary shadow" >
            <div class="card-header text-primary">
              <% if comic.user == current_user %>
                <%= link_to "" ,edit_comic_path(comic.id),class:"text-decoration-none text-dark fas fa-pen-nib fa-lg left" %>
              <% else %>
              <!--読みたいボタン  -->
                <div id="keep_<%= comic.id %>">
                  <%= render 'keeps/keep_btn' , comic: comic %>
                </div>
              <!--/読みたいボタン  -->
              <% end %>
              <div class="right">未完結</div>
            </div>
            <div class="card-body text-dark">
              <h5 class="card-title">『<%= comic.title %>』</h5>
              <p class="card-text"><%= safe_join(comic.memo.split("\n"), tag(:br)) %></p>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
              <!--評価機能表示-->
                <span id="star-<%= comic.id %>"></span>
              </li>
                <script>
                $('#star-<%= comic.id %>').raty({
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: 'comic[evaluation]',
                  half: true,
                  readOnly: true,
                  score: <%= comic.evaluation %>,
                });
                </script>
              <!--/評価機能表示-->

              <!--タグ機能表示-->
              <li class="list-group-item">
               <% comic.tags.each do |tag| %>
                 <%= link_to "#{tag.name}", comics_path(tag: tag.name), class:"btn btn-secondary btn-sm mb-1" %>
               <% end %>
              </li>
              <!--/タグ機能表示-->

            </ul>

            <div class="card-footer border-primary">
              <div class="left"><%= comic.created_at.strftime('%Y/%m/%d') %></div>
              <% if comic.user == current_user %>
                <div class="right"><%= comic.user.name %></div>
              <% else %>
                <%= link_to user_path(comic.user_id) do %>
                  <div class="text-right">
                    <button type="button" class="btn btn-outline-secondary"><%= comic.user.name %></button>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

    </div>
    <% end %>
  </div>
