<div class="container">

  <div class="row my-5">
    <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
      <div class="card bg-light">
        <div class="card-body text-center">
          <h2 class="card-title mt-2 mb-5 text-monospace">Edit comic</h2>
          <p class="card-text">
            <%= form_with model:@comic, url:comic_path(@comic.id), method: :patch, local:true do |f| %>

              <div class="form-group row">
                <%= f.label :作品タイトル ,class:"col-5" %>
                <%= f.text_field :title, class:"col-6" %>
              </div>

              <div class="form-group row">
                <%= f.label :メモ ,class:"col-5" %>
                <%= f.text_area :memo, class:"col-6" %>
              </div>

              <div class="form-group row">
                  <%= f.label :完結 , class:"col-5" %>
                <div class="col-3">
                  <%= f.radio_button :complete,true %>
                  <%= f.label :complete, 'してる', value: true %>
                </div>
                <div class="col-3">
                  <%= f.radio_button :complete,false %>
                  <%= f.label :complete, 'してない', value: false %>
                </div>
              </div>

              <!--評価編集機能-->
              <div class="form-group row">
                <%= f.label :evaluation,'お気に入り度' ,class:"col-5" %>
                <div id="star-<%= @comic.id %>"></div>
              </div>
              <script>
              $('#star-<%= @comic.id %>').raty({
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                scoreName: 'comic[evaluation]',
                score: <%= @comic.evaluation %>,
              });
              </script>
              <!--/評価編集機能-->
              
              <!--タグ機能-->
              <div class="form-group row">
                <% @all_tags.each do |tag| %>
                  <%= f.check_box :tag_list, { multiple: true }, "#{tag.name}", nil %>
                  <%= f.label " #{tag.name}(#{tag.taggings_count})", class:"label label-default" %>
                <% end %>
              </div>
              <!--/タグ機能-->

              <div class="text-center my-4">
                <%= f.submit :更新する, class:"btn btn-secondary" %>
              </div>

            <% end %>

              <div class="text-center my-4">
                <%= link_to "削除する", comic_path(@comic), method: :delete, data: {confirm:"削除しますか？"}, class:"btn btn-danger" %>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>