<div class="container">
  <div class="row">

    <% @comics.each do |comic| %>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 my-3">

        <% if comic.complete == true %>
          <div class="card border-secondary" >
            <div class="card-header text-secondary">
              <%= link_to "" ,edit_comic_path(comic.id),class:"text-decoration-none text-dark fas fa-pen-nib fa-lg left" %>
              <div class="right">完結済み</div>
            </div>
            <div class="card-body text-dark">
              <h5 class="card-title">『<%= comic.title %>』</h5>
              <p class="card-text"><%= simple_format(comic.memo) %></p>
            </div>
            <div class="card-footer border-secondary">
              <div class="left"><%= comic.updated_at.strftime('%Y/%m/%d') %></div>
              <div class="right"><%= comic.user.name %></div>
            </div>
          </div>

        <% elsif comic.complete == false %>
          <div class="card border-primary" >
            <div class="card-header text-primary">
              <%= link_to "" ,edit_comic_path(comic.id),class:"text-decoration-none text-dark fas fa-pen-nib fa-lg left" %>
              <div class="right">未完結</div>
            </div>
            <div class="card-body text-dark">
              <h5 class="card-title">『<%= comic.title %>』</h5>
              <p class="card-text"><%= simple_format(comic.memo) %></p>
            </div>
            <div class="card-footer border-primary">
              <div class="left"><%= comic.updated_at.strftime('%Y/%m/%d') %></div>
              <div class="right"><%= comic.user.name %></div>
            </div>
          </div>
        <% end %>
    </div>
    <% end %>

    <div class="col-12 text-center"><%= paginate @comics %></div>
    <!--ページング機能-->

  </div>
</div>

