<div class="container">
  <% if params[:tag] %>
    <div class="row my-5">
      <div class="w-auto mx-auto">
        <div class="card bg-light shadow">
          <div class="card-body">
            <h1 class="card-text text-monospace text-center">Comics <small class="text-muted">-<%= @comics.count %>-</small></h1>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row my-5">
      <div class="w-auto mx-auto">
        <div class="card bg-light shadow">
          <div class="card-body">
            <h1 class="card-text text-monospace text-center">All comics <small class="text-muted">-<%= @comics.count %>-</small></h1>
          </div>
        </div>
      </div>
    </div>
  <% end %>

      <% if user_signed_in? %>
        <%= render 'login_index' , comics: @comics, all_tags: @all_tags %>
      <% else %>
        <%= render 'index' , comics: @comics, all_tags: @all_tags %>
      <% end %>

      <div class="col-12 text-center"><%= paginate @comics %></div>
      <!--ページング機能-->

</div>

