<div class="container">
  <div class="row my-5">
    <div class="w-auto mx-auto">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h1 class="card-text text-monospace text-center">Search for 『<%= params[:search] %>』 <small class="text-muted">-<%= Comic.search(params[:search]).count %>-</small></h1>
        </div>
      </div>
    </div>
  </div>

      <% if user_signed_in? %>
        <%= render 'login_index' , comics: @comics, all_tags: @all_tags %>
      <% else %>
        <%= render 'index' , comics: @comics, all_tags: @all_tags %>
      <% end %>

      <div class="col-12 text-center"><%= paginate @comics %></div>
      <!--ページング機能-->

</div>
