<!DOCTYPE html>
<html>
  <head>
    <title>Comic mania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">ロゴ</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", user_path(current_user.id) %>
              </li>
              <li class="nav-item">
                <%= link_to "読みたいリスト", keeps_user_path(current_user.id) %>
              </li>
              <li class="nav-item">
                <%= link_to "コミックスを記録する", new_comic_path, class:"btn btn-secondary" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "アカウント作成", new_user_registration_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            <% end %>
              <li class="nav-item">
                <%= link_to "Comics", comics_path %>
              </li>
            </ul>

          </div>
        </div>
      </nav>
    </header>

    <%= render 'layouts/flashes' %>
    <!--<div class="top-img">-->
    <%= yield %>
    <!--</div>-->
  </body>
</html>
