<!DOCTYPE html>
<html>
  <head>
    <title>Comic mania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "Mypage", user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "コミックスを記録する", new_comic_path, class:"btn btn-secondary" %>
      </li>
    <% else %>
      <li>
        <%= link_to "アカウント作成", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
      <li>
        <%= link_to "Comics", comics_path %>
      </li>
    <%= render 'layouts/flashes' %>
    <!--<div class="top-img">-->
    <%= yield %>
    <!--</div>-->
  </body>
</html>
